
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipe App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>My Recipe App</h1>
        <p>Find recipes based on your dietary preferences and ingredients</p>
    </header>

    <div class="container">
        <form hx-post="/search" hx-target="#results" hx-swap="outerHTML">
            <h2>Filter Recipes</h2>
            <div class="form-group ingredient-list">
                <div></div>
                <div class="column-header">Include</div>
                <div class="column-header">Exclude</div>
                <div class="ingredient-item">Dairy</div>
                <input type="checkbox" class="ingredient-checkbox" name="include-ingredient" value="dairy">
                <input type="checkbox" class="ingredient-checkbox" name="exclude-ingredient" value="dairy">
                <div class="ingredient-item">Chicken</div>
                <input type="checkbox" class="ingredient-checkbox" name="include-ingredient" value="chicken">
                <input type="checkbox" class="ingredient-checkbox" name="exclude-ingredient" value="chicken">
                <div class="ingredient-item">Beef</div>
                <input type="checkbox" class="ingredient-checkbox" name="include-ingredient" value="beef">
                <input type="checkbox" class="ingredient-checkbox" name="exclude-ingredient" value="beef">
                <div class="ingredient-item">Pork</div>
                <input type="checkbox" class="ingredient-checkbox" name="include-ingredient" value="pork">
                <input type="checkbox" class="ingredient-checkbox" name="exclude-ingredient" value="pork">
                <div class="ingredient-item">Other Meat</div>
                <input type="checkbox" class="ingredient-checkbox" name="include-ingredient" value="other_meat">
                <input type="checkbox" class="ingredient-checkbox" name="exclude-ingredient" value="other_meat">
                <div class="ingredient-item">Eggs</div>
                <input type="checkbox" class="ingredient-checkbox" name="include-ingredient" value="eggs">
                <input type="checkbox" class="ingredient-checkbox" name="exclude-ingredient" value="eggs">
            </div>
            <button type="submit" id="results">Search Recipes</button>
        </form>
    </div>
</body>
</html>

